<div class="">
  <div class="row m-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <!-- create a todo form -->
          <form (ngSubmit)="addNewTodo()" id="add-todo" #f="ngForm">
            <div class="form-group mb-2">
              <label for="todo">Title</label>
              <input type="text" class="form-control" id="todo" ngModel  name="title" placeholder="" required #title="ngModel">
              <p class="text-danger error-block" *ngIf="!title.valid && title.touched"><small>Fill in the title!</small></p>
            </div>
            <div class="mb-2">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="30" rows="5" class="form-control" ngModel required #description="ngModel"></textarea>
              <p class="text-danger error-block" *ngIf="!description.valid && description.touched"><small>Fill in field!</small></p>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Add Todo</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CREATED AT</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                  <button class="btn btn-success">Completed</button>
                </td>
                <td>
                  <button class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
